@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Montserrat:600&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-Arrow:before {
  content: "\e900";
  color: #fff;
}

._icon-copyright-regular:before {
  content: "\e901";
}

._icon-Ellipse:before {
  content: "\e902";
  color: #fff;
}

._icon-facebook-f-brands:before {
  content: "\e903";
}

._icon-instagram-brands:before {
  content: "\e904";
}

._icon-mobile-alt-solid:before {
  content: "\e905";
}

._icon-twitter-brands:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0px 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 65px;
  min-height: 80px;
  color: #fefefe;
  font-size: 23px;
  text-align: center;
  background-image: -o-linear-gradient(3deg, #ff8b00 0%, #ff3050 100%);
  background-image: linear-gradient(87deg, #ff8b00 0%, #ff3050 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn_white {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn._fw {
  width: 100%;
}

header._scroll .header__content {
  min-height: 70px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #fff;
}

.header__content {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  color: #4073de;
  font-size: 51px;
  font-weight: 500;
  padding: 0px 0px 0px 25px;
  position: relative;
  z-index: 5;
}

.header__logo span {
  font-size: 24px;
  vertical-align: super;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  padding: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 222.72727%;
  letter-spacing: 0.16px;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link._active {
  color: #6b93e6;
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.footer__content {
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  opacity: 0.8;
  color: #000000;
  font-size: 23px;
  font-weight: 300;
  line-height: 156.52174%;
  text-align: center;
}

.footer__link:not(:last-child) {
  margin-right: 5px;
}

.main {
  padding-top: 128px;
}

.main__image {
  margin: 0px auto;
  padding: 0px 0 53.06% 0;
}

.main__image img {
  width: 100%;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10%;
}

.main__column {
  padding: 0px 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin-bottom: 20px;
}

.main__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 50px 30px 20px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8615), color-stop(99%, #ffaf00), to(#ffaf00));
  background: -o-linear-gradient(bottom, #ff8615 0%, #ffaf00 99%, #ffaf00 100%);
  background: linear-gradient(to top, #ff8615 0%, #ffaf00 99%, #ffaf00 100%);
}

.main__item_blue {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#155ed1), to(#ba5cff));
  background-image: -o-linear-gradient(bottom, #155ed1 0%, #ba5cff 100%);
  background-image: linear-gradient(to top, #155ed1 0%, #ba5cff 100%);
}

.main__item_red {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff1c98), to(#ff3050));
  background-image: -o-linear-gradient(bottom, #ff1c98 0%, #ff3050 100%);
  background-image: linear-gradient(to top, #ff1c98 0%, #ff3050 100%);
}

.main__item_purple {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b61fe0), color-stop(99%, #fe14e7), to(#ff14e7));
  background-image: -o-linear-gradient(bottom, #b61fe0 0%, #fe14e7 99%, #ff14e7 100%);
  background-image: linear-gradient(to top, #b61fe0 0%, #fe14e7 99%, #ff14e7 100%);
}

.main__item::before {
  font-size: 35px;
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.main__title {
  font-size: 51px;
  font-weight: 500;
  line-height: 109.80392%;
  color: #ffffff;
  margin: 0px 0px 35px 0px;
  max-width: 255px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__text {
  color: #ffffff;
  font-size: 23px;
  max-width: 215px;
  font-weight: 300;
}

.about {
  padding: 50px 0px 70px 0px;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  margin-bottom: 64px;
}

.about__column:last-child {
  margin-bottom: 0;
}

.about__column_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__column_rev .about__img {
  margin-right: 0;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.about__column_rev .about__body {
  margin-right: 26px;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 0px 37.96% 0px;
  margin-right: 26px;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0.5s;
  -o-transition: all 1.5s ease 0.5s;
  transition: all 1.5s ease 0.5s;
}

.about__img._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 50px;
  background-color: #f7f7f7;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.about__body._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.about__title {
  font-size: 51px;
  font-weight: 500;
  line-height: 109.80392%;
  margin-bottom: 40px;
}

.about__text {
  color: #545454;
  font-size: 23px;
  margin-bottom: 40px;
}

._no-webp .gallary{
  background: url("../img/gallary/01.jpg") center/cover no-repeat; }

.gallary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallary__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 13px;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 1.5s ease 0s;
  transition: -webkit-transform 1.5s ease 0s;
  -o-transition: transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
}

.gallary__wrap._active {
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
  opacity: 1;
}

.gallary__body {
  padding: 70px 70px 88px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(246, 5, 142, 0.9)), to(rgba(255, 51, 82, 0.9)));
  background-image: -o-linear-gradient(bottom, rgba(246, 5, 142, 0.9) 0%, rgba(255, 51, 82, 0.9) 100%);
  background-image: linear-gradient(to top, rgba(246, 5, 142, 0.9) 0%, rgba(255, 51, 82, 0.9) 100%);
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallary__title {
  color: #ffffff;
  font-size: 51px;
  font-weight: 500;
  line-height: 109.80392%;
  margin-bottom: 30px;
}

.gallary__text {
  color: #ffffff;
  font-size: 23px;
  margin-bottom: 40px;
  line-height: 1.1;
}

.gallary__text p {
  margin-bottom: 30px;
}

.gallary__text p:last-child {
  margin-bottom: 0;
}

.events {
  padding: 65px 0px;
}

.events__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff7f00), color-stop(99%, #ffbb18), to(#ffbb18));
  background-image: -o-linear-gradient(bottom, #ff7f00 0%, #ffbb18 99%, #ffbb18 100%);
  background-image: linear-gradient(to top, #ff7f00 0%, #ffbb18 99%, #ffbb18 100%);
  padding: 50px 70px;
  margin-right: 26px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.events__body._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.events__title {
  color: #ffffff;
  font-size: 51px;
  font-weight: 500;
  line-height: 109.80392%;
  margin-bottom: 30px;
}

.events__list {
  color: #ffffff;
  font-size: 23px;
}

.events__list li {
  position: relative;
  line-height: 1.4;
  margin-bottom: 20px;
  padding-left: 46px;
}

.events__list li::before {
  font-size: 26px;
  margin-right: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
}

.events__list li:last-child {
  margin-bottom: 0;
}

.events__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 0px 37.96% 0px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1.2s ease 0.5s;
  -o-transition: all 1.2s ease 0.5s;
  transition: all 1.2s ease 0.5s;
}

.events__img._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.blog {
  padding: 75px 0px 35px 0px;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -13px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__column {
  padding: 0px 13px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-bottom: 121px;
  opacity: 0;
}

.blog__column._active {
  -webkit-animation: columnLeft 0.5s linear 0s forwards;
          animation: columnLeft 0.5s linear 0s forwards;
}

.blog__column._active:nth-child(2) {
  -webkit-animation: columnLeft 0.5s linear 0.6s forwards;
          animation: columnLeft 0.5s linear 0.6s forwards;
}

.blog__column._active:nth-child(3) {
  -webkit-animation: columnLeft 0.5s linear 0.9s forwards;
          animation: columnLeft 0.5s linear 0.9s forwards;
}

.blog__column._active:nth-child(4) {
  -webkit-animation: columnLeft 0.5s linear 1.2s forwards;
          animation: columnLeft 0.5s linear 1.2s forwards;
}

@-webkit-keyframes columnLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(150%, 0%);
            transform: translate(150%, 0%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes columnLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(150%, 0%);
            transform: translate(150%, 0%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.blog__wrap {
  background-color: #f3f3f3;
  padding: 0px 35px 25px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__image {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: -91px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blog__text {
  color: #515151;
  font-size: 23px;
  font-weight: 300;
  line-height: 147.82609%;
  margin-bottom: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog__name {
  color: #ff6300;
  font-size: 34px;
  font-size: 34px;
  font-weight: 400;
}

.contacts {
  margin-top: -100px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.contacts._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contacts__column:not(:last-child) {
  margin-right: 26px;
}

.contacts__body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#007bc6), color-stop(99%, #0099e1), to(#0099e1));
  background-image: -o-linear-gradient(bottom, #007bc6 0%, #0099e1 99%, #0099e1 100%);
  background-image: linear-gradient(to top, #007bc6 0%, #0099e1 99%, #0099e1 100%);
  padding: 70px;
}

.contacts__title {
  color: #ffffff;
  font-size: 51px;
  font-weight: 500;
  line-height: 109.80392%;
  margin-bottom: 30px;
}

.contacts__text {
  color: #ffffff;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.4;
}

.contacts__text p:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__phone {
  color: #ffffff;
  font-size: 51px;
  font-weight: 500;
  line-height: 109.80392%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone::before {
  margin-right: 15px;
  font-size: 35px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  color: #0080cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail {
  color: #ffffff;
  font-size: 23px;
}

.contacts__mail:hover {
  text-decoration: underline;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 50px;
}

.contacts__item:not(:last-child) {
  margin-right: 10px;
}

.contacts__item::before {
  font-size: 35px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  color: #0080cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__map {
  height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 991.98px) {
  .btn_white:hover {
    color: #fff;
  }

  header._scroll .menu__list li {
    min-height: 70px;
  }

  .header__content {
    min-height: 128px;
    max-width: 1374px;
  }

  .menu__list li:hover {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#155ed1), to(#ba5cff));
    background: -o-linear-gradient(bottom, #155ed1 0%, #ba5cff 100%);
    background: linear-gradient(to top, #155ed1 0%, #ba5cff 100%);
    min-height: 128px;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .main__column {
    opacity: 0;
  }

  .main__column._active {
    -webkit-animation: column 0.5s linear 0s forwards;
            animation: column 0.5s linear 0s forwards;
  }

  .main__column._active:nth-child(2) {
    -webkit-animation: column 0.5s linear 0.6s forwards;
            animation: column 0.5s linear 0.6s forwards;
  }

  .main__column._active:nth-child(3) {
    -webkit-animation: column 0.5s linear 0.9s forwards;
            animation: column 0.5s linear 0.9s forwards;
  }

  .main__column._active:nth-child(4) {
    -webkit-animation: column 0.5s linear 1.2s forwards;
            animation: column 0.5s linear 1.2s forwards;
  }

@-webkit-keyframes column {
    0% {
      opacity: 0;
      -webkit-transform: translate(0%, -100%);
              transform: translate(0%, -100%);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
}

@keyframes column {
    0% {
      opacity: 0;
      -webkit-transform: translate(0%, -100%);
              transform: translate(0%, -100%);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
}

  .main__item:hover {
    -webkit-box-shadow: 0 0 15px rgba(21, 94, 209, 0.9);
            box-shadow: 0 0 15px rgba(21, 94, 209, 0.9);
  }

  .contacts__phone:hover {
    text-decoration: underline;
  }

  .contacts__phone:hover::before {
    background-color: #0080cb;
    color: #fff;
  }

  .contacts__item:hover::before {
    background-color: #0080cb;
    color: #fff;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-image: -o-linear-gradient(3deg, #ff3050 0%, #ff8b00 100%);
    background-image: linear-gradient(87deg, #ff3050 0%, #ff8b00 100%);
    -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
            box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1324px) {
  .header__logo {
    font-size: calc(30px + 21 * ((100vw - 320px) / 1004));
  }

  .header__logo span {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1004));
  }

  .main__title {
    font-size: calc(24px + 27 * ((100vw - 320px) / 1004));
  }

  .main__text {
    font-size: calc(16px + 7 * ((100vw - 320px) / 1004));
  }

  .about__column {
    margin-bottom: calc(40px + 24 * ((100vw - 320px) / 1004));
  }

  .about__title {
    font-size: calc(24px + 27 * ((100vw - 320px) / 1004));
  }

  .about__text {
    font-size: calc(16px + 7 * ((100vw - 320px) / 1004));
  }

  .gallary__title {
    font-size: calc(24px + 27 * ((100vw - 320px) / 1004));
  }

  .gallary__text {
    font-size: calc(16px + 7 * ((100vw - 320px) / 1004));
  }

  .events__title {
    font-size: calc(24px + 27 * ((100vw - 320px) / 1004));
  }

  .events__list {
    font-size: calc(16px + 7 * ((100vw - 320px) / 1004));
  }

  .events__list li::before {
    font-size: calc(20px + 6 * ((100vw - 320px) / 1004));
  }

  .blog__text {
    font-size: calc(16px + 7 * ((100vw - 320px) / 1004));
  }

  .blog__name {
    font-size: calc(24px + 10 * ((100vw - 320px) / 1004));
  }

  .contacts__title {
    font-size: calc(24px + 27 * ((100vw - 320px) / 1004));
  }

  .contacts__text {
    font-size: calc(16px + 7 * ((100vw - 320px) / 1004));
  }

  .contacts__phone {
    font-size: calc(0px + 51 * ((100vw - 320px) / 1004));
  }
}

@media (max-width: 1215px) {
  .main__title {
    font-size: 35px;
    font-size: 35px;
  }
}

@media (max-width: 1215px) and (max-width: 1324px) {
  .main__title {
    font-size: calc(24px + 11 * ((100vw - 320px) / 1004));
  }
}

@media (max-width: 1170px) {
  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 991.98px) {
  .header__logo {
    padding-left: 0;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    padding: 120px 0px 30px 0px;
    background: #155ed1;
    z-index: 2;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    height: 70px;
    background: #fff;
    width: 100%;
    z-index: 2;
    top: 0;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 30px 0;
  }

  .menu__list li {
    padding: 0;
    margin: 0px 0px 25px 0px;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 24px;
    color: #fff;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1.5px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4073de;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1.5px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1.5px);
  }

  .footer__content {
    min-height: 70px;
  }

  .main {
    padding-top: 70px;
  }

  .main__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .main__title {
    max-width: none;
  }

  .main__text {
    max-width: none;
  }

  .gallary__body {
    padding: 50px;
    min-height: 300px;
  }

  .events__body {
    padding: 50px;
  }

  .contacts__body {
    padding: 50px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 85px 0px 30px 0px;
  }

  .menu__body::before {
    height: 50px;
  }
}

@media (max-width: 870px) {
  .gallary__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-right: 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__content {
    min-height: 50px;
  }

  .menu__list {
    margin: 0 0 20px 0;
  }

  .menu__list li {
    margin-bottom: 10px;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px;
  }

  .main {
    padding-top: 50px;
  }

  .main__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .about {
    padding: 50px 0px;
  }

  .about__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__img {
    padding: 0px 0px 60% 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }

  .about__img:last-child {
    margin-bottom: 0;
  }

  .about__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
    padding: 30px 20px;
  }

  .about__body:last-child {
    margin-bottom: 0;
  }

  .gallary__body {
    padding: 30px 20px;
  }

  .events__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .events__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 30px 20px;
    margin: 0px 0px 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .events__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 60% 0px;
    margin-bottom: 20px;
  }

  .contacts__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contacts__column:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .contacts__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }

  .contacts__text {
    text-align: center;
  }

  .contacts__phone {
    font-size: 30px;
  }

  .contacts__map {
    min-height: 300px;
  }
}

@media (max-width: 767.98px) and (max-width: 1324px) {
  .contacts__phone {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1004));
  }
}

@media (max-width: 580px) {
  .blog__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 479.98px) {
  .btn {
    min-height: 60px;
    padding: 0px 35px;
  }

  .gallary__body {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(246, 5, 142, 0.97)), to(rgba(255, 51, 82, 0.97)));
    background-image: -o-linear-gradient(bottom, rgba(246, 5, 142, 0.97) 0%, rgba(255, 51, 82, 0.97) 100%);
    background-image: linear-gradient(to top, rgba(246, 5, 142, 0.97) 0%, rgba(255, 51, 82, 0.97) 100%);
  }
}

@media (max-width: 440px) {
  .main__body {
    margin-top: -5%;
  }
}

._webp .gallary{ background: url(../img/gallary/01.webp) center/cover no-repeat; }